body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.terminal {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.8),
        0 0 20px rgba(0, 255, 0, 0.6),
        0 0 30px rgba(0, 255, 0, 0.4),
        0 0 40px rgba(0, 255, 0, 0.2),
        0 0 50px rgba(0, 255, 0, 0.1);
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    margin-right: 8%;
    margin-top: 10%;
}

label {
    color: #00ff00;
    padding: 5px;
    font-family: 'Courier New', monospace;
    border-radius: 3px;
    margin-bottom: 10px;

}

input {
    background-color: #2e2e2e;
    color: #00ff00;
    padding: 5px;
    font-family: 'Courier New', monospace;
    border-radius: 3px;
    margin-bottom: 10px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

input {
    animation: blink 1.5s infinite;
}

input:focus {
    animation: none;
}

#helpmenu {
    font-size: 90%;
}



.label,
input {
    background-color: #000;
    color: #00ff00;
    padding: 8px;
    font-family: 'Courier New', monospace;
    border: none;
    border-bottom: 1px solid #00ff00;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #00ff00;
}

.output {
    width: 50%;
    padding-bottom: 10%;
    margin-left: 25%;
}


.linkedin-link,
.discord-link,
.instagram-link,
.tryhackme-link,
.github-link {
    display: block;
    transition: 0.3s ease-out;
    margin-bottom: 10px;
    text-decoration: none;
}


.project-link {
    text-decoration: none;
    color: green;
}

#projects li {
    text-decoration: none;
    margin-bottom: 10px;
}


.linkedin-link:hover {
    text-shadow: 0 0 10px #66A0FF, 0 0 20px #66A0FF;
}

.tryhackme-link:hover {
    text-shadow: 0 0 10px #aa3147, 0 0 20px #aa3147;
}

.discord-link:hover {
    text-shadow: 0 0 10px #99AAB5, 0 0 20px #99AAB5;
}

.instagram-link:hover {
    text-shadow: 0 0 10px #FF6B6B, 0 0 20px #FF6B6B;
}

.github-link:hover {
    text-shadow: 0 0 10px #5EB95E, 0 0 20px #5EB95E;
}

.tryhackme-link {
    color: #aa3147;
}

.linkedin-link {
    color: #0077B5;
}

.discord-link {
    color: #7289DA;
}

.instagram-link {
    color: #E4405F;
}

.github-link {
    color: #2EA44F;
}